#header {
  height: 76px;
  background: #438EB9;
}

#header h1 {
  line-height: 76px;
  font-size: 50px;
  color: white;
  text-align: left;
  font-weight: bold;
}

#header h1 .users {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  font-size: 12px;
}

#header h1 .users li {
  float: left;
  height: 46px;
  line-height: 46px;
  color: white;
  background: #579EC8;
  text-align: center;
  position: relative;
}

#header h1 .users li:first-child {
  width: 55px;
  background: #892E65;
}

#header h1 .users li:nth-of-type(2) {
  width: 208px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#header h1 .users li:nth-of-type(3) {
  width: 160px;
}

#header h1 .users li:last-child {
  width: 34px;
  cursor: pointer;
}

#header h1 .users li:last-child:hover {
  background: #00698C;
}

#header h1 .users li:last-child:hover .isout {
  display: block;
}

#header h1 .users li:last-child .isout {
  display: none;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: -30px;
  left: 0;
  background: #00698C;
  border-top: 1px solid white;
  z-index: 100;
  line-height: 30px;
}

#header h1 .users li:last-child .isout:hover {
  color: black;
}

#content {
  height: 100%;
}

#container {
  height: 100%;
  overflow: auto;
}

#content_left {
  float: left;
  width: 192px;
  height: 100%;

}

#content_right {
  overflow: auto;
  position: relative;
  height: 100%;
  padding-left: 14px;
}

#content_right h3 {
  font-size: 16px;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
}

#content_right .select {
  height: 94px;
  width: 1130px;
  border: 1px solid #ccc;
  padding-top: 30px;
  font-size: 14px;
  padding-left: 18px;
  box-sizing: border-box;
}

#content_right .select span {
  float: left;
  margin-left: 10px;
}

#content_right .li_btn {
  height: 58px;
  width: 1130px;
  border: 1px solid #ccc;
  margin-top: 20px;
  box-sizing: border-box;
  padding-top: 10px;
}

#content_right .li_btn span {
  float: left;
  width: 102px;
  height: 35px;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#content_right .li_btn #li_add {
  background: #FFB752;
}

#content_right .li_btn #li_dele {
  background: #D15B47;
}

#content_right .li_btn .couts {
  float: right;
  color: black;
}

#content_right  h4 {
  height: 42px;
  background: #F5F5F5;
  font-weight: normal;
}

#content_right  h4 .h4_img {
  height: 24px;
  width: 24px;
  background: url("../image/home.png");
  background-size: 100% 100%;
  margin-top: 8px;
}

#content_right  h4 > span {
  float: left;
  font-size: 14px;
  color: #333333;
  line-height: 42px;
}

.show_ul1 {
  width: 1130px;
  margin-bottom: 15px;
  line-height: 24px;
  margin-top: 33px;
  font-size: 14px;
}

.show_ul1 li:first-child {
  float: left;
}

.show_ul1 li:first-child span {
  float: left;
}

.show_ul1 li:first-child span .sele1 {
  width: 40px;
  float: left;
}

.show_ul1 li:first-child span input.sele1 {
  border: 0 none;
  height: 24px;
}

.show_ul1 li:first-child span select.sele1 {
  border: 0 none;
  height: 24px;
}

.show_ul1 li:first-child .li_clear {
  border: 0 none;
}

.show_ul1 li:first-child span:last-child {
  border: 1px solid #ccc;
  height: 26px;
  line-height: 26px;
}

.show_ul1 li:last-child {
  float: right;
}

.show_ul1 li:last-child span {
  float: left;
  height: 26px;
  line-height: 26px;
}

.show_ul1 li:last-child span input {
  border: 0 none;
  width: 160px;
  height: 24px;
}

#li_table {
  width: 1130px;
  border-spacing: 0;
}

#li_table th {
  border: 1px solid #ccc;
  height: 54px;
  color: #555555;
  font-size: 14px;
  background: #F2F2F2;
}

#li_table td {
  border: 1px solid #ccc;
  height: 30px;
  color: #555555;
  font-size: 14px;
  background: #F2F2F2;
  text-align: center;
  background: white;
}

#luru {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 563px;
}

#luru .luru {
  background: white;
  width: 700px;
  height: 550px;
  margin: 0 auto;
}

#luru .luru h5 {
  height: 45px;
  background: #F8F8F8;
  padding: 0 20px;
  box-sizing: border-box;
  font-weight: normal;
  line-height: 45px;
  font-size: 14px;
  color: #4B4B4B;
}

#luru .luru h5 span:first-child {
  float: left;
}

#luru .luru h5 span:last-child {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

#luru .luru p {
  color: #4B4B4B;
  height: 30px;
  line-height: 30px;
  width: 80%;
  float: right;
  margin-top: 10px;
  font-size: 14px;
}

#luru .luru p input[type="text"], #luru .luru p input[type="password"], #luru .luru p input[type="number"] {
  height: 28px;
  width: 250px;
  border: 1px solid #DDDDDD;
}

#luru .luru p:nth-of-type(1) {
  margin-right: 10px;
}

#luru .luru p:nth-of-type(2) {
  margin-right: 24px;
}

#luru .luru p:nth-of-type(3) {
  margin-right: 24px;
}

#luru .luru p:nth-of-type(8) {
  height: 140px;
}

#luru .luru .li_role {
  height: 35px;
  width: 98px;
  border: 1px solid #ccc;
}

#luru .luru p.isadd {
  margin-top: 0;
  text-align: right;
  padding-right: 150px;
  color: red;
  font-size: 12px;
}

.li_pages span {
  float: left;
  font-size: 12px;
  padding: 5px 10px;
}

#li_popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

#li_popup .li_popup {
  width: 400px;
  height: 250px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

#li_popup .li_popup h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

#li_popup .li_popup p {
  text-align: center;
  line-height: 30px;
  margin-bottom: 70px;
}

#li_popup .li_popup p span:first-child {
  margin-left: 20px;
  float: left;
  height: 30px;
  width: 60px;
  border: 1px solid #ccc;
  line-height: 30px;
}

#li_popup .li_popup p span:last-child {
  margin-right: 20px;
  float: right;
  height: 30px;
  width: 60px;
  border: 1px solid #ccc;
  line-height: 30px;
}

#li_popup .li_popup p span:hover {
  background: #708090;
  cursor: pointer;
}
/*---------------------------------------*/

#aside{
  width: 189px;
  height:100%;
  border:1px solid #CCCCCC;
  border-top: none;
  border-left:none.;
}
#aside .first{
  width:100%;
  height:100%;
  background: #F2F2F2;
}
#aside .first li{
  width: 189px;
  height: 39px;
  border-bottom:1px solid #E5E5E5;  
  background: #F9F9F9;
  line-height: 39px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
#aside .first li:hover{
  background: #FFFFFF;
}
#aside .first li:hover i{
  color: #438EB9;
}
#aside .first li:hover p{
  color: #438EB9;
}
#aside .first li:hover span{
  color: #438EB9;
}
#aside .first li:nth-child(1){
  background: #62A8D1;
}
#aside .first li h3{
  font-size: 14px;
  color: #FFFFFF;
  font-weight: normal;
}
#aside .first li i{
  display: block;
  float: left;
  width:18px;
  height: 15px;
  color: #666666;
  margin-left: 13px;
}
#aside .first li p{
  float: left;
  width: 133px;
  margin-left: 12px;
  font-size: 14px;
  text-align: left;
  color: #666666;
}
#aside .first li span{
  float: right;
  font-size: 10px;
  color: #666666;
}

#aside .first li .second{
  width: 189px;
}
#aside .first li .second li{
  background: #ffffff;
  height: 40px;
  width: 100%;
  padding: 0;
}
